body {
    width: 100vh;
  }
* {
  box-sizing: border-box;
}
  
  .center {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 3px;
    width: 60%;
    box-shadow: inset 1px -1px 1px #52585b;
	  background-color: #bc5090;
	  border:3px outset #003f5c;
	  display:inline-block;
	  cursor:pointer;
	  color:#f6cca6;
	  font-family:Arial;
	  font-size:15px;
	  font-weight:bold;
	  text-decoration:none;
	
}
button:hover, #fileToLoad:hover {
	background-color:#58508d;
  box-shadow: 2px 2px 1px #58508d;
}
button:active, #fileToLoad:active {
	position:relative;
	top:1px;
  box-shadow: inset 2px 2px 1px;
}
  
    .center_full {
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  
  #myImage {
    height: 50%;
    width: 60%;
    border: outset 3px #003f5c;
  }
  
  .background{
    background-image: linear-gradient( rgb(189, 188, 188), rgb(255, 255, 255));
    background-size:cover;
  
  }
  
  #showBar{
  display: none;
  }

#bodyWrapper {
  background-image: linear-gradient(to top, #ff646167, #ffa6006a);
    height: 100vh;
    
}
html, body {
  margin: 0;
  width: 100vw;
}


  
  
  