* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 3px;
  width: 60%;
  box-shadow: inset 1px -1px 1px #52585b;
  background-color: #bc5090;
  border: 3px outset #003f5c;
  display: inline-block;
  cursor: pointer;
  color: #f6cca6;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 1px 1px #003f5c;
}
button:hover,
#fileToLoad:hover {
  background-color: #58508d;
  box-shadow: 2px 2px 3px #9a999e;
  text-shadow: 1px 1px 1px #bc5090;
}
button:active,
#fileToLoad:active {
  position: relative;
  top: 1px;
  box-shadow: inset 2px 2px 1px;
}

.center_full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#myImage {
  border: outset 3px #003f5c;
  margin-top: 3px;
}

#imageBar {
  padding-bottom: 10%;
  margin-bottom: 0;
}

.background {
  background-image: linear-gradient(rgb(189, 188, 188), rgb(255, 255, 255));
  background-size: cover;
}

#showBar {
  display: none;
}

#bodyWrapper {
  background-image: linear-gradient(to top, #ff646167, #ffa6006a);
  min-height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 37.2vh;
  width: 20%;
  height: auto;
  overflow: auto;
}

#myModal {
  background-color: #bc5090;
  border: 3px outset #003f5c;
  color: #f6cca6;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 1px 1px #003f5c;
}

#myModal:hover {
  transition: transform 2s ease, opacity 2s ease;
  transform: translateX(150%) scale(2.5);
  opacity: 0.85;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

#close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-shadow: none;
}
